header{
  background-color: #5B86B9;
  margin-bottom: 15px;
}
footer{
  background-color: #846D99;
  margin-top: 15px;
}
.main{
  display: flex;
}
app-aside{
  width: 30%;
  background-color: #846D99;
}
app-contenido{
  width: 70%;
  margin-left: 15px;
}
@media screen and (max-width: 750px){
  .main{
    display: block;
  }
  app-aside{
    width: 100%;
  }
  app-contenido{
    width: 100%;
    margin-left: 0;
  }
}
