<div class="acordeon--3">
  <ul class="accordian">
      <li>
          <a href="#">
              <img src="http://thecodeplayer.com/uploads/media/3yiC6Yq.jpg"/>
              <picture>

              </picture>
          </a>
      </li>
      <li>
          <a href="#">
              <img src="http://thecodeplayer.com/uploads/media/40Ly3VB.jpg"/>
          </a>
      </li>
      <li>
          <a href="#">
              <img src="http://thecodeplayer.com/uploads/media/00kih8g.jpg"/>
          </a>
      </li>
      <li>
          <a href="#">
              <img src="http://thecodeplayer.com/uploads/media/2rT2vdx.jpg"/>
          </a>
      </li>
      <li>
          <a href="#">
              <img src="http://thecodeplayer.com/uploads/media/3yiC6Yq.jpg"/>
          </a>
      </li>
      <li>
          <a href="#">
              <img src="http://thecodeplayer.com/uploads/media/00kih8g.jpg"/>
          </a>
      </li>
  </ul>
</div>
